/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-image: url("assets/image/gst.jpg");
    background-size: cover; 
}
